@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100vh;
  color: #004a7c;
}

body {
  height: 100vh;
  overflow-y: overlay;
}

.container {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: calc(60px + 3vh) 1fr calc(50px + 1vh);
  -ms-grid-columns: 1fr 3fr;
      grid-template: calc(60px + 3vh) 1fr calc(50px + 1vh)/1fr 3fr;
}

.container .header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
  background-color: #005691;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: #fafafa;
}

.container .projectsBar {
  background-color: #e8f1f5;
  padding: 16px calc(8px + 1vw);
}

.container .projectsBar .projectsHeader {
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #005691;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: calc(8px + 1vh);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 16px;
  font-size: 2rem;
}

.container .projectsBar .projectsHeader button {
  background-color: #005691;
  color: #e8f1f5;
  height: 2rem;
  width: 2rem;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
}

.container .projectsBar ul {
  list-style: none;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.container .projectsBar ul li {
  padding: calc(8px + 1vh) 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
}

.container .projectsBar ul li span {
  color: inherit;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .projectsBar ul li span span {
  padding: 0;
  font-size: 0.8rem;
  color: #004a7c;
}

.container .projectsBar ul li .delete {
  margin: 0 4px;
}

.container .projectsBar ul li .edit {
  margin-left: auto;
}

.container .projectsBar ul li:nth-child(2n + 1) {
  background-color: #cadcf0;
}

.container .projectsBar ul li:hover {
  background-color: #005691;
  color: #e8f1f5;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transform: scale(1.05) !important;
          transform: scale(1.05) !important;
  font-weight: 700;
}

.container .projectsBar ul li:hover button {
  visibility: visible;
}

.container .projectsBar ul li:hover span > span {
  color: #e8f1f5;
}

.container .projectsBar ul li.active {
  background-color: #005691;
  color: #e8f1f5;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.container .projectsBar ul li.active span > span {
  color: #e8f1f5;
}

.container .projectView {
  background-color: #fafafa;
  padding: 16px calc(8px + 1vw);
}

.container .projectView .projectViewHeader {
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #005691;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: calc(4px + 0.5vh);
  padding: 4px 16px;
  font-size: 2rem;
}

.container .projectView .projectViewHeader .projectPriority {
  font-size: 1.2rem;
  text-align: end;
}

.container .projectView .projectViewDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px;
}

.container .projectView .projectViewDesc .projectDue {
  width: calc(128px + 15%);
  margin-left: 5%;
  text-align: end;
}

.todoItems {
  color: #e8f1f5;
  margin-top: 16px;
  list-style: none;
  border: 2px solid #004a7c;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.4);
}

.todoItems:empty {
  visibility: hidden;
}

.todoItems li {
  min-height: 20px;
  padding: 8px;
  border: 2px solid #004a7c;
}

.todoItems li:nth-child(2n) {
  background-color: #e8f1f5;
  color: #004a7c;
  display: none;
}

.todoItems li:nth-child(2n + 1) {
  background-color: #005691;
  cursor: pointer;
}

.todoItems li:nth-child(2n + 1) div {
  pointer-events: none;
}

.todoItems li:nth-child(2n + 1) button {
  pointer-events: auto;
}

.todoItems li:nth-child(2n + 1) span:last-child {
  margin-left: 32px;
}

.todoItems li:nth-child(2n + 1) .todoHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.85rem;
}

.todoItems li:nth-child(2n + 1) .todoHeader .todoTitle {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.todoItems li:nth-child(2n + 1):hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: #146aa5;
}

.todoItems li:nth-child(2n + 1):hover button {
  visibility: visible;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/4/3;
  background-color: #005691;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fafafa;
}

.footer img {
  -webkit-filter: invert(100%) sepia(0%) saturate(3%) hue-rotate(141deg) brightness(102%) contrast(100%);
          filter: invert(100%) sepia(0%) saturate(3%) hue-rotate(141deg) brightness(102%) contrast(100%);
  margin: 0 8px;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  height: 32px;
}

.footer img:hover {
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transform: rotate(720deg) scale(1.2);
          transform: rotate(720deg) scale(1.2);
}

.modal {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal > div {
  background-color: #005691;
  padding: 16px;
  border: 3px solid #004a7c;
  width: 30vw;
  height: 70vh;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #e8f1f5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal > div button {
  color: #004a7c;
}

.modal > div span {
  color: #e8f1f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  margin-bottom: 8px;
  border-bottom: 2px solid #e8f1f5;
}

.modal > div span button {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
}

.modal > div label {
  display: block;
  color: #e8f1f5;
  font-size: 1.5rem;
}

.modal > div input, .modal > div select {
  display: block;
  color: #004a7c;
  outline: none;
  background-color: #e8f1f5;
  padding: 0.5vh 8px;
  border-radius: 4px;
  border: none;
  margin-bottom: 1vh;
  width: calc(64px + 50%);
  font-size: 1.5rem;
  border: 2px solid rgba(0, 0, 0, 0);
}

.modal > div input .selectOption, .modal > div select .selectOption {
  background-color: #e8f1f5;
  color: #004a7c;
}

.modal > div input:hover, .modal > div input:focus-within, .modal > div select:hover, .modal > div select:focus-within {
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  border: 2px solid #e8f1f5;
  background-color: #fafafa;
}

.modal > div > button {
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  border-radius: 8px;
}

button {
  cursor: pointer;
  border: none;
}

button:hover {
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: 100ms;
  transition: 100ms;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.delete {
  background-color: #be1e1e;
}

.edit {
  background-color: rgba(0, 0, 0, 0.4);
}

.delete, .edit {
  visibility: hidden;
  padding: 2px 8px;
  color: #e8f1f5;
  border-radius: 3px;
  margin: 0 4px;
  font-weight: 700;
  letter-spacing: 0.05rem;
}
/*# sourceMappingURL=styles.css.map */