@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #004a7c;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  overflow-y: overlay;
}

.container {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: calc(60px + 3vh) 1fr calc(50px + 1vh);
  -ms-grid-columns: 1fr 3fr;
      grid-template: calc(60px + 3vh) 1fr calc(50px + 1vh)/1fr 3fr;
}

.container .header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
  background-color: #005691;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: #fafafa;
}

.container .projectsBar {
  background-color: #e8f1f5;
  padding: 16px calc(8px + 1vw);
}

.container .projectsBar .projectsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #005691;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: calc(8px + 1vh);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 16px;
  font-size: 2rem;
}

.container .projectsBar .projectsHeader button {
  background-color: #005691;
  color: #e8f1f5;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.container .projectsBar ul {
  list-style: none;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.container .projectsBar ul li {
  padding: calc(8px + 1vh) 8px;
}

.container .projectsBar ul li:nth-child(2n + 1) {
  background-color: #cadcf0;
  border-radius: 4px;
}

.container .projectsBar ul li:hover {
  background-color: #005691;
  color: #e8f1f5;
  -webkit-transition: 200ms;
  transition: 200ms;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.container .projectView {
  background-color: #fafafa;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/4/3;
  background-color: #005691;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fafafa;
}

.footer img {
  -webkit-filter: invert(100%) sepia(0%) saturate(3%) hue-rotate(141deg) brightness(102%) contrast(100%);
          filter: invert(100%) sepia(0%) saturate(3%) hue-rotate(141deg) brightness(102%) contrast(100%);
  margin: 0 8px;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  height: 32px;
}

.footer img:hover {
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transform: rotate(720deg) scale(1.2);
          transform: rotate(720deg) scale(1.2);
}

.addProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.addProject > div {
  background-color: #005691;
  padding: 16px;
  border: 3px solid #004a7c;
  width: 30vw;
  height: 70vh;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #e8f1f5;
}

.addProject > div span {
  color: #e8f1f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.addProject > div span button {
  width: 2vw;
  height: 2vw;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */